Package: io.github.jjoelj.locationspoofserver
Name: Location Spoof Server
Version: 0.3.1
Architecture: iphoneos-arm
Description: HTTP server that sets the device's simulated location, and reports battery and Find My friends. Reachable from anywhere over Tailscale Funnel.
Maintainer: Joel Jothiprakasam
Author: Joel Jothiprakasam
Section: Utilities
Homepage: https://github.com/jjoelj/locationspoofserver
